html {
    font-size: 1.5vmin;
}

body {
    background-image: url("https://i.pinimg.com/564x/4a/72/e5/4a72e5aa201ba148b0eb277aeccc4045.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.poem {
    text-align: left;
    font-size: 1.8rem;
    font-style: oblique;
    font-family: 'Indie Flower',
        cursive;
    color: black;
    padding: 0;
    line-height: 1.5;
    max-width: 50%;
    margin: 2rem auto;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.poems-title {
    font-size: 1.8rem;
    max-width: 50%;
    margin: 2rem auto;
    font-size: 3rem;
    font-family: 'Pacifico',
        cursive;
        color: salmon;
}